/* Publications*/

li {
    display: inline;
    margin-left: 0em;
}

ul {
    list-style: none;
    margin: 0:
}

.comment ul {
    margin: 0;
}

.comment li {
    color: gray;
}

.materials ul {
    margin-left: 0;
}
        
.materials li {
    padding-right: 1em;
}

.reference-materials p {
    background-color: #f2f2f2;
    padding: 1em;
}

.reference-materials pre {
    background-color: #f2f2f2;
    padding: 1em;
    padding-bottom: 0;
    display: block;
}

