/* Publications*/

li {
    display: inline;
    margin-left: 0em;
}

ul {
    list-style: none;
    margin: 0:
}

.comment ul {
    margin: 0;
}

.comment li {
    color: gray;
}

.links ul {
    margin-left: 0;
}

.links li {
    margin-right: 1em;
}

.links li.active a{
    background-color: #99ccff;
    color: #0066ff;
}

/* Abstract */
.materials p {
    display: none;
    background-color: #f2f2f2;
    padding: 1em;
}

/* Bibtex */
.materials pre {
    display: none;
    background-color: #f2f2f2;
    padding: 1em;
    padding-bottom: 0;
    white-space: pre-line;
}

@media screen and (min-width: 700px) {
  .mobile-close { display: none; }
}
