---
layout: page
title: Contact
permalink: /contact/
---

<a href="mailto:f&lt;my last name&gt;@gmail.com" class="email" target="_blank">{% include icon-email.svg %} <span id="mail-placeholder">f&lt;my last name&gt;@gmail.com</span></a>.
<br>
<a href="https://scholar.google.ch/citations?user=N_tCEl8AAAAJ" target="_blank">{% include icon-papers.svg %} Google scholar</a>
<br>
<a href="https://linkedin.com/in/berkenkamp" target="_blank">{% include icon-linkedin.svg %} LinkedIn</a>
<br>
<a href="https://github.com/befelix" target="_blank">{% include icon-github.svg %} Github</a>
