<header>
  <div class="container">
    <nav class="navbar navbar-toggleable navbar-light pl-0 pr-0">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="div-brand">
        <a class="navbar-brand mr-5 pr-5" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {% for page in site.pages %}
              {% if page.title %}
                <li class="nav-item active">
                  <a class="nav-link pl-5" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
      </div>
    </nav>
  </div>
  <hr class="mt-0 pt-0 mb-4">


</header>
