<header>
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
      <a class="navbar-brand fs-3" href="/">{{ site.title }}</a>

      <!-- Hamburger menu -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
            {%- for page in site.pages %}
              {%- if page.title %}
                <li class="nav-item">
                  <a class="nav-link active ps-5" href="{{ page.url }}">{{ page.title }}</a>
                </li>
              {% endif %}
            {%- endfor -%}
          </ul>
      </div>
    </nav>
  </div>
  <!-- rule -->
  <hr class="mt-0 text-secondary mb-4">
</header>