/* Publications*/
ol.bibliography li {
    display: inline;
}

/* Color of the comment atribute */
.comment {
    color: gray;
}

.flex-wrap a.nav-link {
  padding: 0.5em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

@media screen and (max-width: 700px) {
  .flex-wrap a.nav-link {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
  }
}

div.materials {
  max-width: $text-width;
}

.materials div.active {
  margin-top: 0.5em;
}

div.tab-abstract {
  background-color: #f2f2f2;
  padding: 0.5em;
}

.materials pre {
  background-color: #f2f2f2;
  display: inline-block !important;
  padding: 0.5em;
  max-width: 100%;
}

/*Don't indent bib on phone */
@media screen and (max-width: 700px) {
  ol.bibliography {
    padding-left: 0;
   }
}

// highlight references (see js/highligh-selected-ref.js)
div.reference-header.highlight {
  background-color: #e6e6ff;
}