@charset "utf-8";
@import "main";
@import "youtube";

.portrait {
  width: 15em;
  height: auto;
  max-width: 50%;
  border-radius: 50%;
}

.about td {
    vertical-align: top;
}

div.video-list > div {
  margin-bottom: 2em;
}

div.video-list p {
  margin-top: 1em;
}
