/* Publications*/

li {
    display: inline;
}

.comment ul {
    margin: 0;
}

.comment li {
    color: gray;
}

.links li {
    margin-right: 1em;
}

.links li.active a{
    background-color: #99ccff;
    color: #0066ff;
}

/* Abstract */
.materials p {
    /*background-color: #f2f2f2;*/
}

/* Bibtex */
.materials pre {
    /*background-color: #f2f2f2;*/
    /*display: none;*/
    /*overflow-x: scroll;*/
    /*padding: 1em;*/
    /*padding-bottom: 0;*/
}

/*Don't indent bib on phone */
@media screen and (max-width: 700px) {
  ol.bibliography {
    padding-left: 0;
   }
}
