<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    {% if page.js %}
      {% for script in page.js %}
        {% if script == 'jquery' %}
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
          <script>
            // Fallback to local version of jQuery if CDN is down
            if (!window.jQuery) {
              document.write('<script src="{{ site.baseurl }}/javascript/jquery-3.0.0.min.js"><\/script>');
            }
          </script>
        {% elsif script == 'jquery.fitvids'%}
          <script async src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.js"></script>
          <!-- <script async src='{{ site.baseurl }}/javascript/{{ script }}.js'></script> -->
        {% else %}
          <script src='{{ site.baseurl }}/javascript/{{ script }}.js'></script>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if page.inline %}
      {% for script in page.inline %}
        <script>
          {% include js/{{ script }}.js %}
        </script>
      {% endfor %}
    {% endif %}

    <script>
      {% include js/contact.js %}
    </script>

    {% include analytics.html %}

  </body>

</html>
