<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script>
     (function defer() {
          if (window.jQuery) {
                // [INSERT CODE HERE
                {% for script in page.inline %}
                  {% include js/{{ script }}.js %}
                {% endfor %}
                {% include js/contact.js %}
          } else {
               setTimeout(function() { defer() }, 50);
          }
     })();
    </script>

    {% include analytics.html %}

  </body>

</html>
